In [1]:
type(1/2)

float

In [2]:
1/2

0.5

In [3]:
2/2

1.0

In [4]:
2**3

8

In [7]:
2%3

2

# String

In [8]:
'quote1'

'quote1'

In [10]:
"quote2"

'quote2'

In [12]:
print('yo {}'.format('bish'))

yo bish

In [19]:
'quack'[3:]

'ck'

# List

In [29]:
ls = [2,3,4,5]

In [30]:
print(ls)

[2, 3, 4, 5]

In [31]:
ls.append(9)
print(ls)

In [34]:
ls[2] = 'b'
print(ls)

[2, 3, 'b', 5, 9]

# Dictionaries

In [35]:
d = {'cool' : 'beans', 'cool cool' : 'cool, cool, cool'}

In [36]:
d['cool']

'beans'

In [39]:
d['cool cool']

'cool, cool, cool'

# Boolean

In [51]:
print(True,False)

True False

In [52]:
1 == 1

True

In [56]:
(2 > 1) and ('hi' != 'hi')

False

# Tuples

In [45]:
t=(1,2,3)
t[1:]

(2, 3)

In [47]:
t[1]=2 # can't change the items inside (it's imutable)

TypeError: 'tuple' object does not support item assignment

# Set

In [48]:
print({1,1,1,1,2,2,2,2,33,3,3,3,111}) # only contains unique elements

{1, 2, 3, 111, 33}

In [49]:
set([1,1,1,2,2,21,1,1,1])

{1, 2, 21}

In [50]:
s = {1,2,3}
s.add(5)
print(s)

{1, 2, 3, 5}

 # Code blocks

In [57]:
if True:
    print('yo!')

yo!

In [59]:
if False:
    print('not going to run')
else:
    print('this is running')

this is running

In [61]:
if False:
    print('not going to run')
elif 3==3:
    print('now this is running')
else:
    print('this is running')

now this is running

In [64]:
seq = [1,2,3,4]
for num in seq:
    print(num)

1
2
3
4

In [68]:
i = 2
while i <= 4:
    print('i is {}'.format(i))
    i = i + 1

i is 2
i is 3
i is 4

# List compreension

In [72]:
# no list ompreension
print(list(range(1,6)))
out = []
for i in range(1,6):
    out.append(i**2)

print(out)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [75]:
# with list compreension
out2 = [i**2 for i in range(1,6)]
print(out2)

[1, 4, 9, 16, 25]

# Functions

In [77]:
def f(input):
    print('You inserted '+input)

In [80]:
f('Inès')

You inserted Inès

In [85]:
def square(num):
    """
    This funcions squares a number.
    It's dope.
    Use shift + tab on jupyter to read this documentation.
    """
    return num**2

sq_num = square(4)
print('Square of {} is {}.'.format(4, sq_num))

Square of 4 is 16.

In [ ]:
square